.back {background-color:navy;}
.maintex {color: aliceblue;}
.cartex {color:#7CA5B8;}
#headfoot {color:#C6EBBE; font-size: 12px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: italic;}